<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:pink; text-align:center;">
<h2><U>REGISTER</U></h2>
<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="text" name="first_name" placeholder="first name"><br><br>
    <input type="text" name="last_name" placeholder="last name"><br><br>
    <input type="email" name="email" placeholder="email"><br><br>
    <input type="password" name="password" placeholder="password"><br><br>
    <input type="password" name="password1" placeholder="confirm password"><br><br>
    <input type="submit">
</form>
{% for msg in messages %}
  {{msg}}
{% endfor %}
</body>
</html>